<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="http://nicawesome.ddns.net/index.htm">註冊</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text text-lighten-1">一段屬於我們的回憶</h1>
        <div class="row center">
          <h5 class="header col s12 green-text">囊戰石器時代，體驗新奇冒險</h5>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light red lighten-1">馬上體驗</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/stoneage1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">快速</h5>

            <p class="light">囊戰石器提供你，NPC支援快速成人禮、解四大、傳送練功地點等…替你省掉不必要的時間耗費，卻又同時兼顧原汁原味的任務流程，你可以選擇快速，也可以選擇挑戰自我。</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">done</i></h2>
            <h5 class="center">融合</h5>

            <p class="light">加入魔力寶貝的寵物，形成一個大融合，卻又不失石器時代的趣味性，目前已加入四屬性精靈、陰影、石怪，未來將會加入更棒的元素，等你一起體驗</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">thumb_up</i></h2>
            <h5 class="center">騎寵</h5>

            <p class="light">騎乘寵物一直是石器時代最有趣的地方，我們幫你加強這個部分，擁有高達27種騎乘組合，平衡各種寵物能力，不再一寵獨大，亦可自由搭配。</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light black-text">這將會是你喚起回憶的第一步。</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/stoneage2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>伺服器規格</h4>
          <p class="left-align light">繁體server端 | 經驗值：20倍 | 伺服器：Amazon Ec2 Linux 64Bit | 同IP登入限制：3 |<br> 技術人員：Nic Lin、Kurt Hsu</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light black-text">囊戰石器時代，祝您遊戲愉快。</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/stoneage3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">囊戰營運團隊（其實只有兩個人）</h5>
          <p class="grey-text text-lighten-4">這邊我還沒想好要打什麼</p>

      <div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="https://github.com/niclin">NicLin</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
